### Import libraries

In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report, confusion_matrix
from catboost import CatBoostClassifier

### Step 1: Load Dataset

In [2]:
data = pd.read_csv('train_data.csv')

### Display Top 5 Rows of The Dataset

In [3]:
data.head()

,Region,Area,Branch Code,Gender,Education,Age,Age Level,Marital Status,House ownership,Total_family_members,...,who_will_earn,Loan Amount,Inst Months,Inst Amnt,Recovery Amount,Charges Amount,Tax,Project,Activity,Product
0,Lahore,Thokar,1709,M,Illiterate,56,Older (46-Above),M,Rented,9,...,Self,800000,60,16327,429715,95776,Tax paid,Prime Minister Low Cost Housing (PM-LCH),New Construction,Housing Loan
1,Sheikhupura,Muridke,2102,M,Matric,33,Middle Age (30-45),M,Rented,6,...,Self,500000,60,10204,458315,102905,Tax paid,Prime Minister Low Cost Housing (PM-LCH),New Construction,Housing Loan
2,Bahawalnagar,Jahanian,2305,F,Illiterate,37,Middle Age (30-45),M,Owned,6,...,Self,500000,60,10204,108329,24323,Tax paid,Prime Minister Low Cost Housing (PM-LCH),Addition,Housing Loan
3,Kasur,Theeng More,6414,M,Middle,44,Middle Age (30-45),M,NaN,7,...,NaN,200000,60,4081,200000,26180,Tax paid,Prime Minister Low Cost Housing (PM-LCH),New Construction,Housing Loan
4,Bahawalnagar,Chishtian,214,M,Illiterate,37,Middle Age (30-45),M,Rented,7,...,Self,500000,60,10204,216694,48646,Tax paid,Prime Minister Low Cost Housing (PM-LCH),New Construction,Housing Loan

### Check Last 5 Rows of The Dataset

In [4]:
data.head()

,Region,Area,Branch Code,Gender,Education,Age,Age Level,Marital Status,House ownership,Total_family_members,...,who_will_earn,Loan Amount,Inst Months,Inst Amnt,Recovery Amount,Charges Amount,Tax,Project,Activity,Product
0,Lahore,Thokar,1709,M,Illiterate,56,Older (46-Above),M,Rented,9,...,Self,800000,60,16327,429715,95776,Tax paid,Prime Minister Low Cost Housing (PM-LCH),New Construction,Housing Loan
1,Sheikhupura,Muridke,2102,M,Matric,33,Middle Age (30-45),M,Rented,6,...,Self,500000,60,10204,458315,102905,Tax paid,Prime Minister Low Cost Housing (PM-LCH),New Construction,Housing Loan
2,Bahawalnagar,Jahanian,2305,F,Illiterate,37,Middle Age (30-45),M,Owned,6,...,Self,500000,60,10204,108329,24323,Tax paid,Prime Minister Low Cost Housing (PM-LCH),Addition,Housing Loan
3,Kasur,Theeng More,6414,M,Middle,44,Middle Age (30-45),M,NaN,7,...,NaN,200000,60,4081,200000,26180,Tax paid,Prime Minister Low Cost Housing (PM-LCH),New Construction,Housing Loan
4,Bahawalnagar,Chishtian,214,M,Illiterate,37,Middle Age (30-45),M,Rented,7,...,Self,500000,60,10204,216694,48646,Tax paid,Prime Minister Low Cost Housing (PM-LCH),New Construction,Housing Loan

In [5]:
data.tail()

,Region,Area,Branch Code,Gender,Education,Age,Age Level,Marital Status,House ownership,Total_family_members,...,who_will_earn,Loan Amount,Inst Months,Inst Amnt,Recovery Amount,Charges Amount,Tax,Project,Activity,Product
19672,FATA,Khyber,8302,M,Matric,46,Older (46-Above),M,Owned,7,...,Self,400000,60,8164,135719,19461,Tax paid,Prime Minister Low Cost Housing (PM-LCH),New Construction,Housing Loan
19673,Lahore,Madhulal,1739,M,Middle,34,Middle Age (30-45),M,NaN,9,...,NaN,500000,60,10204,500000,99163,Tax paid,Prime Minister Low Cost Housing (PM-LCH),New Construction,Housing Loan
19674,Gilgit Baltistan,Ghizer,51203,M,Matric,42,Middle Age (30-45),M,Owned,5,...,Self,500000,60,10204,485942,108518,Tax paid,Prime Minister Low Cost Housing (PM-LCH),New Construction,Housing Loan
19675,Kasur,Theeng More,1824,F,Illiterate,40,Middle Age (30-45),M,NaN,7,...,NaN,500000,60,10204,333516,74840,Tax paid,Prime Minister Low Cost Housing (PM-LCH),New Construction,Housing Loan
19676,Mianwali,Kala Bagh,3511,M,Matric,40,Middle Age (30-45),M,Owned,5,...,Self,800000,60,16327,173331,38909,Tax paid,Prime Minister Low Cost Housing (PM-LCH),New Construction,Housing Loan

### Find Shape of Our Dataset (Number of Rows And Number of Columns)

In [6]:
data.shape

(19677, 27)

In [7]:
print("Number of Rows",data.shape[0])
print("Number of Columns",data.shape[1])

Number of Rows 19677
Number of Columns 27

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19677 entries, 0 to 19676
Data columns (total 27 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Region                19677 non-null  object
 1   Area                  19677 non-null  object
 2   Branch Code           19677 non-null  int64
 3   Gender                19677 non-null  object
 4   Education             19677 non-null  object
 5   Age                   19677 non-null  int64
 6   Age Level             19677 non-null  object
 7   Marital Status        19677 non-null  object
 8   House ownership       16892 non-null  object
 9   Total_family_members  19677 non-null  int64
 10  No_of_earning_hands   19677 non-null  int64
 11  Source of Incom       16892 non-null  object
 12  Incom                 16892 non-null  float64
 13  Monthly_Saving        16892 non-null  object
 14  Saving Amount         16892 non-null  object
 15  Expenses              16892 non-null  float64
 16  Social behavior       16892 non-null  object
 17  who_will_earn         16827 non-null  object
 18  Loan Amount           19677 non-null  int64
 19  Inst Months           19677 non-null  int64
 20  Inst Amnt             19677 non-null  int64
 21  Recovery Amount       19677 non-null  int64
 22  Charges Amount        19677 non-null  int64
 23  Tax                   19677 non-null  object
 24  Project               19677 non-null  object
 25  Activity              19677 non-null  object
 26  Product               19677 non-null  object
dtypes: float64(2), int64(9), object(16)
memory usage: 4.1+ MB

### Check Null Values In The Dataset

In [9]:
data.isnull().sum()

Region                     0
Area                       0
Branch Code                0
Gender                     0
Education                  0
Age                        0
Age Level                  0
Marital Status             0
House ownership         2785
Total_family_members       0
No_of_earning_hands        0
Source of Incom         2785
Incom                   2785
Monthly_Saving          2785
Saving Amount           2785
Expenses                2785
Social behavior         2785
who_will_earn           2850
Loan Amount                0
Inst Months                0
Inst Amnt                  0
Recovery Amount            0
Charges Amount             0
Tax                        0
Project                    0
Activity                   0
Product                    0
dtype: int64

### Handling The missing Values/ Drop spesific column

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19677 entries, 0 to 19676
Data columns (total 27 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Region                19677 non-null  object
 1   Area                  19677 non-null  object
 2   Branch Code           19677 non-null  int64
 3   Gender                19677 non-null  object
 4   Education             19677 non-null  object
 5   Age                   19677 non-null  int64
 6   Age Level             19677 non-null  object
 7   Marital Status        19677 non-null  object
 8   House ownership       16892 non-null  object
 9   Total_family_members  19677 non-null  int64
 10  No_of_earning_hands   19677 non-null  int64
 11  Source of Incom       16892 non-null  object
 12  Incom                 16892 non-null  float64
 13  Monthly_Saving        16892 non-null  object
 14  Saving Amount         16892 non-null  object
 15  Expenses              16892 non-null  float64
 16  Social behavior       16892 non-null  object
 17  who_will_earn         16827 non-null  object
 18  Loan Amount           19677 non-null  int64
 19  Inst Months           19677 non-null  int64
 20  Inst Amnt             19677 non-null  int64
 21  Recovery Amount       19677 non-null  int64
 22  Charges Amount        19677 non-null  int64
 23  Tax                   19677 non-null  object
 24  Project               19677 non-null  object
 25  Activity              19677 non-null  object
 26  Product               19677 non-null  object
dtypes: float64(2), int64(9), object(16)
memory usage: 4.1+ MB

In [11]:
data.isnull().sum()

Region                     0
Area                       0
Branch Code                0
Gender                     0
Education                  0
Age                        0
Age Level                  0
Marital Status             0
House ownership         2785
Total_family_members       0
No_of_earning_hands        0
Source of Incom         2785
Incom                   2785
Monthly_Saving          2785
Saving Amount           2785
Expenses                2785
Social behavior         2785
who_will_earn           2850
Loan Amount                0
Inst Months                0
Inst Amnt                  0
Recovery Amount            0
Charges Amount             0
Tax                        0
Project                    0
Activity                   0
Product                    0
dtype: int64

In [12]:
data['Incom'] =data['Incom'].fillna(data['Incom'].mode()[0])
data['Monthly_Saving'] =data['Monthly_Saving'].fillna(data['Monthly_Saving'].mode()[0])
data['Expenses'] =data['Expenses'].fillna(data['Expenses'].mode()[0])
data['Saving Amount'] =data['Saving Amount'].fillna(data['Saving Amount'].mode()[0])

In [13]:
data.isnull().sum()

Region                     0
Area                       0
Branch Code                0
Gender                     0
Education                  0
Age                        0
Age Level                  0
Marital Status             0
House ownership         2785
Total_family_members       0
No_of_earning_hands        0
Source of Incom         2785
Incom                      0
Monthly_Saving             0
Saving Amount              0
Expenses                   0
Social behavior         2785
who_will_earn           2850
Loan Amount                0
Inst Months                0
Inst Amnt                  0
Recovery Amount            0
Charges Amount             0
Tax                        0
Project                    0
Activity                   0
Product                    0
dtype: int64

In [14]:
data['Region'].unique()

array(['Lahore', 'Sheikhupura', 'Bahawalnagar', 'Kasur', 'Rawalpindi',
       'Jhelum', 'Nowshera', 'Kohat', 'Multan', 'Faisalabad', 'Sargodha',
       'FATA', 'Quetta', 'DG Khan', 'Mianwali', 'Gilgit Baltistan',
       'Jhang', 'Bahawalpur', 'Karachi', 'Sahiwal', 'Abbottabad',
       'Chakwal', 'Gujranwala', 'Sukkur', 'Attock', 'AJ&K'], dtype=object)

In [15]:
data['Area'].unique()

array(['Thokar', 'Muridke', 'Jahanian', 'Theeng More', 'Chishtian',
       'Rawalpindi', 'Bahawalnagar', 'Kamoke', 'Pind Dadan Khan',
       'Nowshera', 'Kot Abdul Malik', 'Bannu', 'Multan', 'Faisalabad',
       'Sargodha', 'Mohmand', 'Bhera', 'Loralai', 'Jhelum', 'Alipur',
       'Bhakkar', 'Gilgit', 'Rangeel Pur', 'Mardan', 'Gujrat', 'Layyah',
       'Chiniot', 'Gareebabad', 'Kot Momin', 'Rajana', 'Rasheed Abad',
       'Bahawalpur', 'Thatha', 'Mian Channu', 'Shangla', 'Islamabad',
       'Mingora', 'Chakwal', 'Samundari', 'Muzaffargarh', 'Okara',
       'Kasur', 'Gujranwala', 'Sukkur', 'Peer Phulai', 'Jand', 'Mansehra',
       'Tench Bhata', 'Saddar', 'Jhang', 'Bajaur', 'Abbottabad',
       'Nishtar', 'Shorkot', 'Jhelum Valley', 'Sahiwal', 'Attock',
       'Hyderabad', 'Kotli', 'Swabi', 'Toba Tek Singh', 'Muzaffarabad',
       'Khyber', 'Sialkot', 'Lodhran(Bahawalpur2)', 'Kohat', 'Karachi',
       'Burewala', 'Madhulal', 'Rajanpur', 'Fateh Jang', 'Korangi',
       'Khushab', 'D.I. Khan', 'Mianwali', 'Quidabad', 'Mirpur',
       'Narowal', 'Quetta', 'Mandi Bahauddin', 'Rohri', 'Sangla Hill',
       'Tank', 'Chitral', 'Kallar Kahar', 'Pichnand', 'Rawalakot',
       'Taxila', 'Skardu', 'Pattoki', 'Kurrum', 'Hafizabad', 'Vehari',
       'Rahim yar Khan', 'Salamatpura', 'Jacob Abad', 'Abbaspur',
       'D.G Khan', 'Talagang', 'Peshawar', 'Ghanche', 'Danyor', 'Khuzdar',
       'Data sahib', 'Ghizer', 'Kala Bagh', 'Diamer', 'Khanpur',
       'Hunza Nagar', 'Sodiwal', 'Nushki', 'Lasbela', 'Sujawal',
       'Battagram', 'Taunsa Sharif', 'Gwadar'], dtype=object)

In [16]:
data['Education'].unique()

array(['Illiterate', 'Matric', 'Middle', 'Primary', 'Masters',
       'Intermediate', 'Bachelor', 'Mphil', 'Phd'], dtype=object)

In [17]:
data['Age'].unique()

array([56, 33, 37, 44, 58, 53, 23, 45, 48, 41, 24, 55, 32, 54, 40, 35, 29,
       43, 34, 42, 30, 26, 27, 31, 20, 36, 50, 47, 49, 39, 38, 57, 25, 51,
       28, 52, 46, 21, 59, 22, 60, 19, 61])

In [18]:
data['Gender'].unique()

array(['M', 'F'], dtype=object)

In [19]:
data['Inst Months'].unique()

array([60, 48, 30, 54, 36, 42, 24, 21, 12])

In [20]:
data['Loan Amount'].unique()

array([ 800000,  500000,  200000,  700000,  400000, 1000000,  375000,
        300000,  600000,  450000,  350000,  250000,  750000,  470000,
        480000,  490000,  465000,  650000,  550000,  850000,  475000,
        900000,  425000,  270000,  395000,  460000,  370000,  150000,
        225000,  380000,  280000,  398200,  298000,  440000,  310000,
        125000,  446222,  485000,  120000,  420000,  340000,  740000,
        430000,  240000,  338000,  680000,  407400,  100000,  445000,
        434000,  325000,  360000,  446000,  366000,  283500,  670000,
        230000,  421500,  435000,  390000,  495000,  875000,  435500,
        330000,  410000,  476000,  640000,  491244,  710000,  494000,
        245000,  187500,  210000,  348176,  415000,  320000,  180000,
        498914,  630000,  385000,  675000,  175000,  950000,  237996,
        476636,  396000,  685000,  220000,  498690])

In [21]:
data['Recovery Amount'].unique()

array([429715, 458315, 108329, ..., 293653, 135719, 485942], shape=(9475,))

In [22]:
data['Charges Amount'].unique()

array([ 95776, 102905,  24323,  26180,  48646,   5238,  35549,   1497,
        22452,  14965,  44910,  99163,  78582,  39291,  53874,   8979,
        89808, 108518,  99522,  67350,  56150,  44523,  43033,  46775,
        70713,  53880,  92620,  32934,  87937,  31807,  76714,  85311,
        62860,  91679,      0,  47888,  37425,  18710,  52388,  67356,
        37420,   7484,    935,  75980, 104759,  26190,  50881,  98769,
         6545,  65105,  71832,  54999,  76711,  28065,  82516,  82324,
        20952,  93550,  86066,  23571,  33678,  13095,  84200,  60237,
         8980,  26937,  11224,  44904, 109998,  11226,  59872,   5986,
        29936,  72969,  52380,  58047,  22450,  36666,  35920,  49401,
        33675,  41140,  83804, 104776,  82616,  90923,  89046, 110741,
        31437,  65485, 101762,  69227,  70359,  34047,  84318, 145938,
       104760,  65868,  41162,  23348,  11972,  68862,  73332,  54259,
       101034,  96903,  74840,  82335,  26946,  90480,  65475,  26194,
        49412,  75951,  34408,  80453,  50517,  25449,  20581,  29930,
        17958,  62874,  37990,  22440,  49761,  51658,  50898,  86797,
        80811,  24706,  56125,  76347,  65500,  38909,  39285,  10476,
        61743,  95421, 123486,  71840,  26940,  42674, 107379,  27510,
        65664,   2993,  71098, 117852,  47334,  51635,  74825,  59860,
        58383,   5613,  43797,  49390,  35916,  28075, 125706,  47166,
        14968,  15714,  28809,  77818,  41902,  25245,  98780,  15895,
        94290,  16839,  42100, 116727,  18333,  23944,   9355,  53892,
        24695,  47145,  89252,  83832,   1871,  97292,  40419,  60420,
        63614,  62853,  14025, 103066,   2619,  40326,  97672,  89790,
        52395,  87568,  41904,  58926,  13097,  36680,  80914,  81374,
        60800,  79500,  56130, 106647,   3742,  77844,  20958,  44440,
        38493,   1870,  29198, 106628,  80838,  31496,  44900,  48289,
        83808,   4490,  79341,  84195,  24310,  25260,  16840,  80181,
         2805,  86427,  22455,  74096,  20205,  28985,  25829,  64538,
        89800,  44895,  58370,  34431,   7857,  70944,  95988,  63992,
        68839,  79148,  45468, 112260,  74850,  43413,  32923,  67119,
        40410,  54230,  31440,  23952,  55360,  91482,  49555,   6738,
        65846,  41920,   2994,  30855,  86826,   5988,  96929,  68094,
        53237, 102141,  58001,  53508,  38182,  26944,  76330,  44920,
        11976,   7861,  52781,  14960,  11230,  37059,  74085,  64190,
        95427,  61956,  87555, 157164,  92934,  28443,  56867,  93227,
        38335,  65134,  21050,  47658,  72956,  35936, 122713,  94284,
        51186,  57618,  72960,  73353,  53710,  19461,  48470,  19635,
        26952,  58940,  29185,  47142,   8232,  12155,  60615,  30321,
        36465,  39284,  61570,  47904,  10479,  99527,   7485,  14410,
        35370,  51576,  78570,  38165,  80832,  17960,   5610,  27676,
        20214,  21337,  67365, 107748,  61765, 116002,  58688, 107008,
        17030,  42655,  71517,  47048,  79166,   1123,  42159,  60896,
        85310,  50535,  15156,  94181,  41916, 142196,  77464, 102144,
        25806,  11790,  50508,  46407,  55389,  51425,   6736,  88004,
        56330,  51090,  50520,  77396,  31430,  96984,  17765,  60642,
         6360,  69972,   4488,  40416,  87984,  31790,  60260,  34813,
        13470,  62888,  20208,  38922,   4491,   5240,  11225,  31428,
        37716,   8982,  15715,  67914,  35928,  70150,  64670,  53888,
        73360,  32750,  35156,  15722,  69960, 117856,  84180,  59880,
        87238,  43010,  18700,   2245,  17968,  65676,  20951,  13090,
        92783, 106314,  33690,  75762,  62856, 104351,  22270,  45825,
        94848,  97095,  19448, 119744, 113734,  53904,   6550,  69595,
        14592,  69430,  24890,  56886,  13100,  31416,   8976,  91213,
         6735,  22460,  66649, 109434,  32912,  86208,  47702,   2620,
        95404,  74670,  72050,  21505,  92045,  44540,  88850,  71856,
        64371,  82673, 127228,  59519,   3368,   9170,  61377,  34060,
        41757,  30130,  44880,  48836,  55020,  20570,  28820,   2808,
        80409,  26928,  96860,  79860,  17204,  56368, 101594,  68120,
        57640,  23936,  26042,  90936,  39270,  41551,  81189, 104755,
        55544,  47152,  75724,  88032,  28063,  40428,  58396, 110372,
        32725,  94304,  32172,  43784,  61064,  93975,  17952,  15900,
        23562,  23188,  49392, 101025,  32567, 119720, 120664,  23580,
       103266,  46043,  91377,    748,  80820,  63525,  49252,  86886,
       104014,  30978,  85089,  67344,  52204,  12572,  33680,  17964,
        55003,  80262,  24684,  80256,  43945,  69044,  59866,   2246,
        98401,  19414,  65620, 101064,  37400,  27072,  10659, 138454,
        21892,  15147,  36652,  10480,  73370,  57256,  67360,  70728,
        30870,  96745, 106848,  70044,  23583,  86868,  52400,  73944,
        37048,  62308,  15720,  82476,  49286,  13472,  61866,  12716,
        83065,  91665,  31996, 105768,  18513,   9350,  85296,  23576,
        70796,  46208,   9540,  16467,  91650,  72312,  10107,  78575,
        92598,  81780,   6732,  95188,  52579,  52152,  96570,  93322,
        57273,  94192,  99818,  55027,  72412,   1216,  13476,   3740,
        51072,  29940,  64656,  30312,  58881,    468,  39102,  96802,
        11220,  70740,  89792,  11788,  28050,  23375,  47160,  37044,
        38896,  14368,  86191,  89817,  22638,  65734,  12353,  60624,
         4864,   4675,  37881,  56120, 133560,  61538, 100280, 100272,
         7480,   3741,  97149,  82688,  44896,  62510,  84378, 120112,
        96376,  67821, 106634,  77824,  91713,  14599,  98774,   1310,
         9724, 102518,  62880,  41304,  13473,  99712,  29920,  43992,
        16830,  79700,   8984,  17024,  28424,   5615,  29172,  31444,
        45633,   3369,  91466,  58950,  87950,  45850,  19091,  27115,
        46750,  76516,  74070,  84622,  21692,  22458, 107416, 104168,
        20196,   7860,  55572, 107756,  39644,  38148,  92285, 131352,
        10104,  82300,  24174,  64155,  92220,  16456,  75432,  72742,
        35530,  12903,  58932,  94540,  26200,   8418,  64011,  43406,
        94655, 115046,  85329,  90647,  24696,  16845,   4116,  34595,
       105270,  65856,  65083, 153422,  63232,  89984,  92508,  38732,
        30336,  48208,  53504,  40205,  89188,  97393,  49780,  79024,
         7854, 117880,  75378,  41308,  28812,  43384,  48165,  81302,
        82437,   2244, 103298, 100590, 106782,   4492,  39305,  43225,
        33672,  95973, 104411, 101040,  10285,  20960,  71100, 130970,
        20944,  32538,  66452,  96195,  59230,  74925,  91176,  65988,
        62568,  20579,  43104,  37858,  12342,  63309, 104766,  58146,
        13464,  95046,   5236,  71739,  54990, 121042, 101640,  39300,
        21700,  22260,  55566,  17423,  87924,  42636,  19363,   3510,
        30981,   6290,  75574,  90530,  74544,   8228,  61732,  69426,
        86986,  25432,  90552,  74359, 112240,  19546, 108286,  61740,
        27311,  14970,  85403,  74730,  34827,  18340,  34124,  43230,
        67204,  72229, 126654,  76788,  75716,  98994,  30532,  85884,
        38912,   7296,  83578,  30866,  60775,  96428,  48620,   2526,
         8602,  80652, 106630,  26657,  66810,  53192, 107184,  95468,
        77362, 100263,  93095,  36660,   1403,  51450,   8515,  78975,
        95985,  57997,  84671,  54256,  86436,  73140,   3930,  51678,
        95408,   6171,  11968,  74368,  43025,  71491,  36480,  89548,
        58368,  70226,  78261,  10290,  85277,  39512,  66880,  12160,
       102022,  82500,  76986,  22734,  64188,  88495, 113179,   3366,
       101953,  72881,  86460,  98210,  25789,  28628, 110750, 134712,
        75780,  49764,  71122,  25536,  80272,  84329,  79824, 107646,
       111498,  24320,  89969,  14814, 108682,  42090,   5984,  83970,
         2992,  99511,  19642,  71630,  88884, 110374,  27489,  36670,
       106968,  69168,  65696,  72424,  51775,  42094,  27128, 101016,
        73636,  54529,  10472, 116234,  50880,  78568])

In [23]:
data['Marital Status'].unique()

array(['M', 'S', 'E'], dtype=object)

In [24]:
data['Saving Amount'].unique()

array(['17000', '5000', '13000', '15000', '12500', '0', '16000', '37000',
       '4000', '19000', '22500', '21000', '52500', '18500', '10000',
       '21500', '18000', '13500', '11000', '3000', '38500', '20000',
       '5500', '42500', '23000', '34000', '25000', '26000', '2000',
       '22000', '9000', '26500', '20500', '7000', '12000', '14000',
       '31000', '8000', '28000', '32000', '19500', '47500', '16200',
       '36000', '27000', '32300', '30000', '24000', '8500', '16500',
       '29000', '6000', '3500', '1000', '29500', '17500', '35000',
       '23500', '15500', '34500', '10500', '25500', '30500', '6500',
       '10800', '32500', '40000', '41000', '9500', '13150', '33000',
       '24500', '7500', '6600', '39000', '56000', '16800', '45000',
       '28500', '4500', '16300', '66000', '11500', '14500', '11200',
       '44000', '69000', '27500', '18724', '37500', '13300', '38000',
       '21700', '13700', '52000', '28800', '2500', '19900', '64000',
       '33500', '26300', '35500', '14757', '11600', '42000', '20800',
       '10600', '15867', '16617', '24600', '13100', '62000', '31500',
       '15400', '48000', '49000', '29823', '17700', '335000', '500',
       '20700', '15779', '54000', '33700', '23600', '11400', '58000',
       '18300', '20524', '12250', '41500', '34100', '3300', '76000',
       '12900', '18900', '20900', '50000', '60000', '7200', '1500',
       '27200', '27800', '8700', '7700', '43000', '55000', '14100',
       '40500', '14700', '45500', '19800', '16486', '37200', '68000',
       '17200', '22800', '19400', ' ', '10200', '2700', '8800', '46000',
       '57500', '38300', '14800', '36700', '22550', '36500', '12800',
       '18600', '123000', '19300', '31800', '47000', '30596', '45133',
       '43500', '18200', '10700', '21300', '27300', '18400', '80000',
       '23200', '23400', '11800', '16440', '17800', '14400', '65000',
       '25700', '7058', '31400', '22750', '12200', '20021', '13800',
       '36057', '39500', '7600', '12674', '14651', '15700', '21100',
       '16900', '39900', '30300', '24200', '41400', '22156', '46500',
       '51000', '12700', '6800', '3264', '9200', '21200', '1800', '20300',
       '5200', '31071', '8889', '49216', '15800', '6100', '7800', '26570',
       '11900', '19200', '41300', '43800', '16400', '44500', '42800',
       '18700', '24700', '35800', '33690', '42026', '23700', '4460',
       '12600', '17300', '24876', '35200', '14300', '42300', '10067',
       '15600', '26700', '59000', '25200', '17100', '39400', '57000',
       '17650', '4290', '16600', '30800', '11490', '6300', '8600',
       '27700', '9800', '15900', '62500', '25850', '53000', '23300',
       '47700', '29700', '38200', '21332', '7100', '98000', '26629',
       '7775', '120000', '14725', '38811', '24800', '8300', '16956',
       '11700', '28339', '48500', '20100', '77000', '13400', '9900',
       '29800', '18800', '28600', '11100', '17600', '61000', '75000',
       '19700', '8400', '50200', '71000', '13200', '13600', '43752',
       '10210'], dtype=object)

In [25]:
data['Expenses'].unique()

array([ 26000.,  17000.,  52000.,  30000.,  29000.,  40000.,  54000.,
        27000.,  33000.,  45000.,  28000.,  31000.,  27500.,  55000.,
        31500.,  37000.,  35000.,  13500.,  50000.,  24000.,  21500.,
        51000.,  22500.,  41000.,  34000.,  36000.,  20000.,  19500.,
        21000.,  17500.,  23000.,  75000.,  18500.,  66000.,  25000.,
        29500.,  24500.,  25500.,  15000.,  38000.,  46000.,  19000.,
        32000.,  30500.,  22000.,  43000.,  26500.,  47000.,  12000.,
        49000.,  39000.,  44000.,  28500.,  17800.,  39500.,  80000.,
        85000.,  82000.,  57000.,  11700.,  60000.,  70000.,  16000.,
        41500.,  33500.,  34500.,  48000.,  37500.,  42000.,  16500.,
        22600.,  50500.,  78000.,  15500.,  84500.,  38500.,  18000.,
        14500.,  20500.,  23500.,  81000.,  58000.,  29200.,  65000.,
        59000.,  61000.,  47500.,  68000.,  32500.,  53000.,  43500.,
        35500.,  44500.,  29300.,  40500.,  46500.,  63500.,  13000.,
        83000.,  28800.,  86000.,  42500.,  38700.,  14000.,  33200.,
       100000.,  16700.,  90000.,  54500.,  62000.,  64000.,  73000.,
        48300.,  36500.,  56000.,  32400.,  10500.,  69000.,  72000.,
        23300.,  49500., 108526.,  16200.,  12100.,  18700.,   9500.,
        52500.,  45900.,  27700.,  23400.,  45500.,  39300.,  87000.,
        63000.,  19200.,  29400.,  67000.,  36900.,  97000.,  28200.,
        14600.,  56500.,  12300.,  48500.,  62500.,  59300.,  21400.,
        22300.,  28700.,  88000.,  61500.,  21700.,   8000.,  37750.,
        25900.,  34700.,  71000.,  12500.,  27300.,  13100.,  34100.,
        10000.,  87500.,  24100.,  29700.,  41800.,  68500.,  32800.,
        23800.,  92087.,  32200.,  20900.,   9000.,  59500.,  23700.,
        73500., 109000.,  57500.,  19800.,  47800.,  37200.,  53500.,
        25750.,  35600.,  36700.,  18600.,  15300.,  56069.,  41200.,
        55500.,  20100.,  43200.,  58500.,  21800.,  16450.,  33300.,
        51500.,  95000.,  24700.,  33700.,  84000.,  88596.,  11000.,
        19300.,  83500.,  74000.,  24800.,  20700.,  77000.,  24600.,
        26600.,   8800.,  80500.,  24200.,  11500.,  47700.,  79000.,
        63560.,  26100.,  39600.,  31800.,  49300.,  60500.,  41600.,
        13600.,  91000.,  24250.,  54600.,  65800., 105000.,  76000.,
        20400.,  34400.,  39800.,  17400.,  38900.,  17200.,  14300.,
        22100.,  44300.,  36100.,  27600., 230000.,  13900.,  18200.,
        22200.,  40800.,  10400.,  23200.,  42600.,  52200.,  21035.,
        31300.,  27200.,  42300.,  30812.,  31200.,  20300.,   4000.,
        30400.,  55055.,  16800.,  53900.,  19700.,  38100.,  48700.,
        98000.,  47600.,  17031.,  27900.,  22700.,  47200.,  22540.,
        37400.,  37700.,  39700.,  32100.,  32700.,  18800.,  28600.,
        25800.,  14800.,  38300.,  64500.,  55600.,  25200.,  96500.,
        26700.,  20350.,  46507.,  38400.,  71600.,  24300.,  36400.,
        14200.,  34600.,  24150.,  41700.,  52300.,  25300.,  11800.,
        15900.,  27793.,  38225.,  39400., 150000.,  45240.,  20800.,
        17900.,  67500.,  35400.,  65500.,  42800.,   7500.,  30300.,
       155000.,  19900.,  25100.,  77300.,  47400.,  26900.,  21200.,
        16400.,  28900.,  44700.,  45800.,  33600.,  19400.,  46800.,
        15790.])

### Handling Categorical Columns

In [26]:
data.sample(5)

,Region,Area,Branch Code,Gender,Education,Age,Age Level,Marital Status,House ownership,Total_family_members,...,who_will_earn,Loan Amount,Inst Months,Inst Amnt,Recovery Amount,Charges Amount,Tax,Project,Activity,Product
14448,Sukkur,Jacob Abad,46501,M,Matric,59,Older (46-Above),M,Owned,7,...,Self,500000,60,10204,416926,93550,Tax paid,Prime Minister Low Cost Housing (PM-LCH),Addition,Housing Loan
1115,Lahore,Salamatpura,1749,M,Matric,45,Middle Age (30-45),M,Rented,7,...,Other,500000,60,10204,484472,108518,Tax paid,Prime Minister Low Cost Housing (PM-LCH),New Construction,Housing Loan
12660,Sheikhupura,Kamoke,1110,M,Middle,35,Middle Age (30-45),M,NaN,9,...,NaN,500000,60,10204,500000,24323,Tax paid,Prime Minister Low Cost Housing (PM-LCH),New Construction,Housing Loan
3546,Lahore,Nishtar,1747,M,Illiterate,50,Older (46-Above),M,Rented,8,...,Other,500000,60,10204,483420,108518,Tax paid,Prime Minister Low Cost Housing (PM-LCH),New Construction,Housing Loan
11795,Karachi,Saddar,35103,F,Primary,39,Middle Age (30-45),M,Owned,7,...,Self,500000,60,10204,325184,72969,Tax paid,Prime Minister Low Cost Housing (PM-LCH),Addition,Housing Loan

In [27]:
data.isnull().sum()

Region                     0
Area                       0
Branch Code                0
Gender                     0
Education                  0
Age                        0
Age Level                  0
Marital Status             0
House ownership         2785
Total_family_members       0
No_of_earning_hands        0
Source of Incom         2785
Incom                      0
Monthly_Saving             0
Saving Amount              0
Expenses                   0
Social behavior         2785
who_will_earn           2850
Loan Amount                0
Inst Months                0
Inst Amnt                  0
Recovery Amount            0
Charges Amount             0
Tax                        0
Project                    0
Activity                   0
Product                    0
dtype: int64

In [28]:
data['Source of Incom'] =data['Source of Incom'].fillna(data['Source of Incom'].mode()[0])
data['House ownership'] =data['House ownership'].fillna(data['House ownership'].mode()[0])
data['Social behavior'] =data['Social behavior'].fillna(data['Social behavior'].mode()[0])
data['who_will_earn'] =data['who_will_earn'].fillna(data['who_will_earn'].mode()[0])

In [29]:
data.isnull().sum()

Region                  0
Area                    0
Branch Code             0
Gender                  0
Education               0
Age                     0
Age Level               0
Marital Status          0
House ownership         0
Total_family_members    0
No_of_earning_hands     0
Source of Incom         0
Incom                   0
Monthly_Saving          0
Saving Amount           0
Expenses                0
Social behavior         0
who_will_earn           0
Loan Amount             0
Inst Months             0
Inst Amnt               0
Recovery Amount         0
Charges Amount          0
Tax                     0
Project                 0
Activity                0
Product                 0
dtype: int64

In [30]:
data.head(1)

,Region,Area,Branch Code,Gender,Education,Age,Age Level,Marital Status,House ownership,Total_family_members,...,who_will_earn,Loan Amount,Inst Months,Inst Amnt,Recovery Amount,Charges Amount,Tax,Project,Activity,Product
0,Lahore,Thokar,1709,M,Illiterate,56,Older (46-Above),M,Rented,9,...,Self,800000,60,16327,429715,95776,Tax paid,Prime Minister Low Cost Housing (PM-LCH),New Construction,Housing Loan

data['Gender'] = data['Gender'].map({'Male':1,'Female':0}).astype('int')
data['Married'] = data['Married'].map({'Yes':1,'No':0}).astype('int')
data['Education'] = data['Education'].map({'Graduate':1,'Not Graduate':0}).astype('int')
data['Self_Employed'] = data['Self_Employed'].map({'Yes':1,'No':0}).astype('int')
data['Property_Area'] = data['Property_Area'].map({'Rural':0,'Semiurban':2,'Urban':1}).astype('int')
data['Loan_Status'] = data['Loan_Status'].map({'Y':1,'N':0}).astype('int')

In [31]:
import pandas as pd
from catboost import CatBoostClassifier

# Load the test CSV
test_data = pd.read_csv('test_data.csv')

# Show the first few rows
test_data.head()

,Region,Area,Branch Code,Gender,Education,Age,Age Level,Marital Status,House ownership,Total_family_members,...,who_will_earn,Loan Amount,Inst Months,Inst Amnt,Recovery Amount,Charges Amount,Tax,Project,Activity,Product
0,Bahawalnagar,Vehari,2701,M,Primary,37,Middle Age (30-45),M,Owned,4,...,Self,500000,60,10204,325179,72969,Tax paid,Prime Minister Low Cost Housing (PM-LCH),New Construction,Housing Loan
1,Chakwal,Talagang,2904,M,Matric,42,Middle Age (30-45),M,Owned,5,...,Self,1000000,60,20409,304216,63614,Tax paid,Prime Minister Low Cost Housing (PM-LCH),New Construction,Housing Loan
2,Mianwali,Kala Bagh,3511,F,Primary,33,Middle Age (30-45),M,Owned,3,...,Self,500000,60,10204,441679,99163,Tax paid,Prime Minister Low Cost Housing (PM-LCH),New Construction,Housing Loan
3,Kasur,Pattoki,1804,M,Middle,26,Young (19-29),M,Owned,6,...,Other,500000,60,10204,354190,78582,Tax paid,Prime Minister Low Cost Housing (PM-LCH),New Construction,Housing Loan
4,Attock,Attock,2819,F,Intermediate,25,Young (19-29),M,Rented,4,...,Self,400000,60,8164,291909,65868,Tax not paid,Prime Minister Low Cost Housing (PM-LCH),New Construction,Housing Loan

In [32]:
data.isnull().sum()

Region                  0
Area                    0
Branch Code             0
Gender                  0
Education               0
Age                     0
Age Level               0
Marital Status          0
House ownership         0
Total_family_members    0
No_of_earning_hands     0
Source of Incom         0
Incom                   0
Monthly_Saving          0
Saving Amount           0
Expenses                0
Social behavior         0
who_will_earn           0
Loan Amount             0
Inst Months             0
Inst Amnt               0
Recovery Amount         0
Charges Amount          0
Tax                     0
Project                 0
Activity                0
Product                 0
dtype: int64

In [33]:
data['Incom'] =data['Incom'].fillna(data['Incom'].mode()[0])
data['Monthly_Saving'] =data['Monthly_Saving'].fillna(data['Monthly_Saving'].mode()[0])
data['Expenses'] =data['Expenses'].fillna(data['Expenses'].mode()[0])
data['Saving Amount'] =data['Saving Amount'].fillna(data['Saving Amount'].mode()[0])

In [34]:
data['Source of Incom'] =data['Source of Incom'].fillna(data['Source of Incom'].mode()[0])
data['House ownership'] =data['House ownership'].fillna(data['House ownership'].mode()[0])
data['Social behavior'] =data['Social behavior'].fillna(data['Social behavior'].mode()[0])
data['who_will_earn'] =data['who_will_earn'].fillna(data['who_will_earn'].mode()[0])


### Store Feature Matrix In X And Response (Target) In Vector y

In [35]:
data['Tax '].unique()

array(['Tax paid', 'Tax not paid'], dtype=object)

In [36]:
print(data.columns)

Index(['Region', 'Area', 'Branch Code', 'Gender', 'Education', 'Age',
       'Age Level', 'Marital Status', 'House ownership',
       'Total_family_members', 'No_of_earning_hands', 'Source of Incom',
       'Incom', 'Monthly_Saving', 'Saving Amount', 'Expenses',
       'Social behavior', 'who_will_earn', 'Loan Amount', 'Inst Months',
       'Inst Amnt', 'Recovery Amount', 'Charges Amount', 'Tax ', 'Project',
       'Activity', 'Product'],
      dtype='object')

In [37]:
X = data.drop('Tax ',axis=1)
print(X)

                 Region         Area  Branch Code Gender   Education  Age  \
0                Lahore       Thokar         1709      M  Illiterate   56
1           Sheikhupura      Muridke         2102      M      Matric   33
2          Bahawalnagar     Jahanian         2305      F  Illiterate   37
3                 Kasur  Theeng More         6414      M      Middle   44
4          Bahawalnagar    Chishtian          214      M  Illiterate   37
...                 ...          ...          ...    ...         ...  ...
19672              FATA       Khyber         8302      M      Matric   46
19673            Lahore     Madhulal         1739      M      Middle   34
19674  Gilgit Baltistan       Ghizer        51203      M      Matric   42
19675             Kasur  Theeng More         1824      F  Illiterate   40
19676          Mianwali    Kala Bagh         3511      M      Matric   40

                Age Level Marital Status House ownership  \
0        Older (46-Above)              M          Rented
1      Middle Age (30-45)              M          Rented
2      Middle Age (30-45)              M           Owned
3      Middle Age (30-45)              M           Owned
4      Middle Age (30-45)              M          Rented
...                   ...            ...             ...
19672    Older (46-Above)              M           Owned
19673  Middle Age (30-45)              M           Owned
19674  Middle Age (30-45)              M           Owned
19675  Middle Age (30-45)              M           Owned
19676  Middle Age (30-45)              M           Owned

       Total_family_members  ...  Social behavior who_will_earn  Loan Amount  \
0                         9  ...             Good          Self       800000
1                         6  ...             Good          Self       500000
2                         6  ...             Good          Self       500000
3                         7  ...             Good          Self       200000
4                         7  ...        Very_good          Self       500000
...                     ...  ...              ...           ...          ...
19672                     7  ...             Good          Self       400000
19673                     9  ...             Good          Self       500000
19674                     5  ...             Good          Self       500000
19675                     7  ...             Good          Self       500000
19676                     5  ...             Good          Self       800000

      Inst Months Inst Amnt  Recovery Amount Charges Amount  \
0              60     16327           429715          95776
1              60     10204           458315         102905
2              60     10204           108329          24323
3              60      4081           200000          26180
4              60     10204           216694          48646
...           ...       ...              ...            ...
19672          60      8164           135719          19461
19673          60     10204           500000          99163
19674          60     10204           485942         108518
19675          60     10204           333516          74840
19676          60     16327           173331          38909

                                        Project          Activity  \
0      Prime Minister Low Cost Housing (PM-LCH)  New Construction
1      Prime Minister Low Cost Housing (PM-LCH)  New Construction
2      Prime Minister Low Cost Housing (PM-LCH)          Addition
3      Prime Minister Low Cost Housing (PM-LCH)  New Construction
4      Prime Minister Low Cost Housing (PM-LCH)  New Construction
...                                         ...               ...
19672  Prime Minister Low Cost Housing (PM-LCH)  New Construction
19673  Prime Minister Low Cost Housing (PM-LCH)  New Construction
19674  Prime Minister Low Cost Housing (PM-LCH)  New Construction
19675  Prime Minister Low Cost Housing (PM-LCH)  New Construction
19676  Prime Minister Low Cost Housing (PM-LCH)  New Construction

            Product
0      Housing Loan
1      Housing Loan
2      Housing Loan
3      Housing Loan
4      Housing Loan
...             ...
19672  Housing Loan
19673  Housing Loan
19674  Housing Loan
19675  Housing Loan
19676  Housing Loan

[19677 rows x 26 columns]

### Define Target and Features

In [38]:
target = 'Tax '
X = data.drop(columns=[target])
y = data[target]

In [39]:
print(y)

0        Tax paid
1        Tax paid
2        Tax paid
3        Tax paid
4        Tax paid
           ...
19672    Tax paid
19673    Tax paid
19674    Tax paid
19675    Tax paid
19676    Tax paid
Name: Tax , Length: 19677, dtype: object

### Identify Categorical Columns

In [40]:
categorical_cols = X.select_dtypes(include=['object']).columns.tolist()

In [41]:
print(f"Categorical Columns: {categorical_cols}")

Categorical Columns: ['Region', 'Area', 'Gender', 'Education', 'Age Level', 'Marital Status', 'House ownership', 'Source of Incom', 'Monthly_Saving', 'Saving Amount', 'Social behavior', 'who_will_earn', 'Project', 'Activity', 'Product']

### Train-Test Split

In [42]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

### Initialize CatBoost

In [43]:
model = CatBoostClassifier(
    iterations=500,
    depth=8,
    learning_rate=0.1,
    cat_features=categorical_cols,
    \
    verbose=100
)

### Train

In [44]:
model.fit(X_train, y_train)

0:	learn: 0.5206669	total: 237ms	remaining: 1m 58s
100:	learn: 0.0412243	total: 13.7s	remaining: 54.3s
200:	learn: 0.0268077	total: 29.1s	remaining: 43.3s
300:	learn: 0.0186156	total: 41.8s	remaining: 27.6s
400:	learn: 0.0147765	total: 56.5s	remaining: 14s
499:	learn: 0.0125720	total: 1m 11s	remaining: 0us

### Predict

In [45]:
y_pred = model.predict(X_test)
print(y_pred)

['Tax paid' 'Tax paid' 'Tax paid' ... 'Tax paid' 'Tax paid' 'Tax paid']

### Evaluation

In [46]:
print("\nClassification Report:")
print(classification_report(y_test, y_pred))

print("\nConfusion Matrix:")
print(confusion_matrix(y_test, y_pred))

Classification Report:
              precision    recall  f1-score   support

Tax not paid       0.73      0.41      0.52        78
    Tax paid       0.99      1.00      0.99      3858

    accuracy                           0.99      3936
   macro avg       0.86      0.70      0.76      3936
weighted avg       0.98      0.99      0.98      3936


Confusion Matrix:
[[  32   46]
 [  12 3846]]

### After training the model

#### Save the model

In [47]:
model.save_model("D:/Projects/PM_LCH Loan Prediction/PMLP_catboost_model.cbm")

In [ ]:
!pip install flask catboost